<div>
  <mat-card>
    <h1>Contact</h1>
  </mat-card>
  <mat-grid-list *ngIf="isDesktop" cols="3" rowHeight="100vh">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <h3 matLine>Phone:</h3>
              <span>(513)436-4727</span>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Email:</h3>
              <span>tirrell@tc3basketball.com</span>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Facebook</h3>
              <a href="https://www.facebook.com/TC3BSD" target="_blank">
                <mat-icon class="facebook">facebook</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>
