.mat-list-item {
  margin-right: 10px;
}

/* .mat-drawer-container {
  height: 100vh;
} */

.drawer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  .mat-drawer-content {
    padding: 25px 75px 75px 75px;
  }
  .toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }
}


