<div class="backgroundPicture">
  <mat-card>
    <h1 mat-headline>Memberships</h1>
  </mat-card>
  
  <div class="center">
    <br>
    <h3>Shooting Memberships</h3>
    <p class="mat-body-strong">
      Memberships allow players to utilize the best technology in basketball to
      improve their skills. Memberships combine shooting repetition and
      ball-handling workouts with performance tracking software with Player
      Portal.
    </p>
    <br>
    <h4 mat-h4>Rookie</h4>
    <p class="mat-body">- Six 40 minute sessions per month.
        <br>
        - Access to player portal.
        <br>
        - $5 off regular price training.
    </p>
    <br>
    <h4 mat-h4>Pro</h4>
    <p class="mat-body">- Ten 40 minute sessions per month.
        <br>
        - Access to player portal.
        <br>
        - $5 off regular price training.
    </p>
    <br>
    <h4 mat-h4>All-Star</h4>
    <p class="mat-body">- Fifteen 40 minute sessions per month.
        <br>
        - Access to player portal.
        <br>
        - $5 off regular price training.
    </p>
    <br>
  </div>
</div>
