html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  text-align: center;
}
.center {
  padding: 10px, 10px;
  position: relative;
  text-align: center;
  margin: auto;
  top: 50px;
  font-size: larger;
  width: 40%;
  color: white;
  background-color: rgba(32, 32, 36, 0.774);
}

h3 {
  position: relative;

}

.backgroundPicture {
  background-image: url("../../assets/Dr dish ct.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


@media only screen and (max-width: 650px) {
  .center {
    position: relative;
    top: 20px;
    margin: auto;
    width: 90%;
    color: white;
    bottom: 50px;
  }
  .backgroundPicture {
    background-image: url("../../assets/Dr dish ct.jpg");
    height: 100%;
    background-position: 50%;
  }
}
