<mat-grid-list
  [cols]="dynamicColSize"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile>
    <span>Shooting Machine</span>
    <br>
    <img src="assets/Dr dish ct.jpg" alt="" />
  </mat-grid-tile>
  <mat-grid-tile>
    Hands-On Training
    <br>
    <img src="assets/bball photo 9.jpg" alt="" />
  </mat-grid-tile>
  <mat-grid-tile>
    Batting Cage
    <br>
    <img src="assets/cage 3.jpg" alt="" />
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
      Hitting Nets
    </p>
    <img src="assets/cage 4.jpg" alt="" />
  </mat-grid-tile>
</mat-grid-list>
