<mat-grid-list
  [cols]="dynamicColSize"
  [rowHeight]="dynamicRowHeight"
  gutterSize="5px"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile>
    <mat-card [routerLink]="'/memberships'">
      <mat-card-title-group>
        <mat-card-title> Shooting Machine </mat-card-title>
      </mat-card-title-group>
      <img mat-card-image src="assets/Dr dish ct.jpg" alt="" />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="'/training'">
      <mat-card-title> Hands-On Training </mat-card-title>
      <img mat-card-image src="assets/IMG_20191217_170838_377.jpg" alt="" />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="'/batting-cage'">
      <mat-card-title> Batting Cage </mat-card-title>
      <img mat-card-image src="assets/cage 3.jpg" alt="" />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="'/batting-cage'">
      <mat-card-title> Hitting Nets </mat-card-title>
      <img mat-card-image src="assets/cage 4.jpg" alt="" />
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
